<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- ✅ Place <queries> here -->
    <queries>
        <intent>
            <action android:name="com.google.zxing.client.android.SCAN" />
        </intent>
    </queries>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"

        android:localeConfig="@xml/locales_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartTransfer"
        tools:targetApi="tiramisu">
        <activity
            android:name=".features.androidtoios.ui.AndroidToIosActivity"
            android:exported="false" />

        <activity
            android:name=".features.dashboard.ui.TransferItemActivity"
            android:exported="false" />
        <activity
            android:name=".features.localshare.ui.HandlePermissionActivity"
            android:exported="false" />
        <activity
            android:name=".features.dashboard.ui.DashboardActivity"
            android:exported="false" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <activity
            android:name=".features.setting.ShareAppActivity"
            android:exported="false" />
        <activity
            android:name=".features.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".features.remoltyshare.DownloadFileActivity"
            android:exported="false" />
        <activity
            android:name=".features.remoltyshare.UploadingFilesActivity"
            android:exported="false" />
        <activity
            android:name=".features.remoltyshare.RemotelyShareActivity"
            android:exported="false" />
        <activity
            android:name=".com.smart.transfer.app.features.filepicker.ui.ChooseFileActivity"
            android:exported="false" />
        <activity
            android:name=".com.smart.transfer.app.features.mobileToPc.ui.MobileToPcActivity"
            android:exported="false" />
        <activity
            android:name=".StorageActivity"
            android:exported="false" />
        <activity
            android:name=".com.smart.transfer.app.features.languageScreens.LanguageSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".com.smart.transfer.app.features.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>