<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- ✅ Place <queries> here -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="com.google.zxing.client.android.SCAN" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartTransfer"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu" >
        <activity
            android:name=".features.localshare.ui.hotspot.ReceiverHttpActivity"
            android:exported="false"
            android:label="@string/title_activity_receiver_http"
            android:theme="@style/Theme.SmartTransfer" />
        <activity
            android:name=".features.localshare.ui.hotspot.SenderHttpActivity"
            android:exported="false" />
        <activity
            android:name=".features.localshare.ui.hotspot.WebViewSender"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.localshare.ui.LocalShareTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.localshare.ui.hotspot.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.localshare.ui.hotspot.QrSenderReceiverActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.localshare.ui.hotspot.SenderHotSpotActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.localshare.ui.hotspot.ReceiverHotSpotActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.localshare.ui.wifdirect.WiFiDirectActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.localshare.ui.wifdirect.WiFiDirectReceiverActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.localshare.ui.wifdirect.WiFiDirectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.localshare.ui.recevier.ReceiverQrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.localshare.ui.sender.SenderQrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.androidtoios.ui.AndroidToIosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.ui.TransferItemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.localshare.ui.HandlePermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.dashboard.ui.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false" >
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <activity
            android:name=".features.setting.ShareAppActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.remoltyshare.DownloadFileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.remoltyshare.UploadingFilesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.remoltyshare.RemotelyShareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".com.smart.transfer.app.features.filepicker.ui.ChooseFileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".com.smart.transfer.app.features.mobileToPc.ui.MobileToPcActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StorageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".com.smart.transfer.app.features.languageScreens.LanguageSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".com.smart.transfer.app.features.onboarding.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.smartdatatransfer.easytransfer.filetransfer.sendanydata.smartswitchmobile.copydata.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>